<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>대문(index) 페이지입니다.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="container">
        <h2>인덱스 페이지입니다.</h2>
        <h3>주소 표시줄에 아래의 경로를 입력해 주세요..</h3>
        <ul>
            <li> /register 입력 -> 회원 가입</li>
            <li> /loop_index 입력 -> 반복문 처리</li>
            <li> /even_odd 입력 -> 짝수/홀수 판별</li>
        </ul>
        <!-- url_for() 사용-->
        <img src="{{ url_for('static', filename='images/activity.jpg') }}">
        <p id="display"></p>
    </div>
    <script src="{{ url_for('static', filename='js/main_js.js') }}"></script>
</body>
</html>